USE [master]
GO
/****** Object:  Database [ScheduleMaker]    Script Date: 12.02.2020 15:33:39 ******/
CREATE DATABASE [ScheduleMaker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ScheduleMaker', FILENAME = N'E:\Programs\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ScheduleMaker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ScheduleMaker_log', FILENAME = N'E:\Programs\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ScheduleMaker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ScheduleMaker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ScheduleMaker]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 12.02.2020 15:33:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[class_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classrooms]    Script Date: 12.02.2020 15:33:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classrooms](
	[classroom_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [text] NULL,
 CONSTRAINT [PK_Classroom] PRIMARY KEY CLUSTERED 
(
	[classroom_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassroomsDisciplines]    Script Date: 12.02.2020 15:33:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassroomsDisciplines](
	[classroom_id] [int] NOT NULL,
	[discipline_id] [int] NOT NULL,
 CONSTRAINT [PK_DisciplineClassroom] PRIMARY KEY CLUSTERED 
(
	[classroom_id] ASC,
	[discipline_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreatorsOfSyllabuses]    Script Date: 12.02.2020 15:33:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreatorsOfSyllabuses](
	[syllabus_id] [int] NOT NULL,
	[teacher_id] [int] NOT NULL,
 CONSTRAINT [PK_Creators] PRIMARY KEY CLUSTERED 
(
	[syllabus_id] ASC,
	[teacher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disciplines]    Script Date: 12.02.2020 15:33:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disciplines](
	[discipline_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Discipline] PRIMARY KEY CLUSTERED 
(
	[discipline_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 12.02.2020 15:33:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[lesson_id] [int] IDENTITY(1,1) NOT NULL,
	[discipline_id] [int] NOT NULL,
	[classroom_id] [int] NOT NULL,
	[teacher_id] [int] NOT NULL,
	[class_id] [int] NOT NULL,
	[lesson_number] [int] NOT NULL,
	[week] [int] NOT NULL,
	[is_week_even] [bit] NULL,
	[date] [date] NULL,
 CONSTRAINT [PK_Lesson] PRIMARY KEY CLUSTERED 
(
	[lesson_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialization]    Script Date: 12.02.2020 15:33:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialization](
	[teacher_id] [int] NOT NULL,
	[discipline_id] [int] NOT NULL,
 CONSTRAINT [PK_TeacherDiscipline] PRIMARY KEY CLUSTERED 
(
	[teacher_id] ASC,
	[discipline_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Syllabuses]    Script Date: 12.02.2020 15:33:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Syllabuses](
	[syllabus_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [text] NULL,
	[year] [int] NOT NULL,
	[date_of_creation] [date] NULL,
 CONSTRAINT [PK_Syllabus] PRIMARY KEY CLUSTERED 
(
	[syllabus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SyllabusesDisciplines]    Script Date: 12.02.2020 15:33:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SyllabusesDisciplines](
	[discipline_id] [int] NOT NULL,
	[syllabus_id] [int] NOT NULL,
	[quarter] [int] NOT NULL,
	[lessons_count] [int] NOT NULL,
 CONSTRAINT [PK_SyllabusDiscipline] PRIMARY KEY CLUSTERED 
(
	[discipline_id] ASC,
	[syllabus_id] ASC,
	[quarter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 12.02.2020 15:33:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[teacher_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[second_name] [nvarchar](50) NOT NULL,
	[middle_name] [nvarchar](50) NULL,
	[is_part_time] [bit] NOT NULL,
	[preferences] [text] NULL,
	[is_for_junior_classes] [bit] NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[teacher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClassroomsDisciplines]  WITH CHECK ADD  CONSTRAINT [FK_DisciplineClassroom_Classroom] FOREIGN KEY([classroom_id])
REFERENCES [dbo].[Classrooms] ([classroom_id])
GO
ALTER TABLE [dbo].[ClassroomsDisciplines] CHECK CONSTRAINT [FK_DisciplineClassroom_Classroom]
GO
ALTER TABLE [dbo].[ClassroomsDisciplines]  WITH CHECK ADD  CONSTRAINT [FK_DisciplineClassroom_Discipline] FOREIGN KEY([discipline_id])
REFERENCES [dbo].[Disciplines] ([discipline_id])
GO
ALTER TABLE [dbo].[ClassroomsDisciplines] CHECK CONSTRAINT [FK_DisciplineClassroom_Discipline]
GO
ALTER TABLE [dbo].[CreatorsOfSyllabuses]  WITH CHECK ADD  CONSTRAINT [FK_Creators_Syllabus] FOREIGN KEY([syllabus_id])
REFERENCES [dbo].[Syllabuses] ([syllabus_id])
GO
ALTER TABLE [dbo].[CreatorsOfSyllabuses] CHECK CONSTRAINT [FK_Creators_Syllabus]
GO
ALTER TABLE [dbo].[CreatorsOfSyllabuses]  WITH CHECK ADD  CONSTRAINT [FK_Creators_Teacher] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Teachers] ([teacher_id])
GO
ALTER TABLE [dbo].[CreatorsOfSyllabuses] CHECK CONSTRAINT [FK_Creators_Teacher]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Class] FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_Lesson_Class]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Classroom] FOREIGN KEY([classroom_id])
REFERENCES [dbo].[Classrooms] ([classroom_id])
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_Lesson_Classroom]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Discipline] FOREIGN KEY([discipline_id])
REFERENCES [dbo].[Disciplines] ([discipline_id])
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_Lesson_Discipline]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Teacher] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Teachers] ([teacher_id])
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_Lesson_Teacher]
GO
ALTER TABLE [dbo].[Specialization]  WITH CHECK ADD  CONSTRAINT [FK_TeacherDiscipline_Discipline] FOREIGN KEY([discipline_id])
REFERENCES [dbo].[Disciplines] ([discipline_id])
GO
ALTER TABLE [dbo].[Specialization] CHECK CONSTRAINT [FK_TeacherDiscipline_Discipline]
GO
ALTER TABLE [dbo].[Specialization]  WITH CHECK ADD  CONSTRAINT [FK_TeacherDiscipline_Teacher] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Teachers] ([teacher_id])
GO
ALTER TABLE [dbo].[Specialization] CHECK CONSTRAINT [FK_TeacherDiscipline_Teacher]
GO
ALTER TABLE [dbo].[SyllabusesDisciplines]  WITH CHECK ADD  CONSTRAINT [FK_SyllabusDiscipline_Discipline] FOREIGN KEY([discipline_id])
REFERENCES [dbo].[Disciplines] ([discipline_id])
GO
ALTER TABLE [dbo].[SyllabusesDisciplines] CHECK CONSTRAINT [FK_SyllabusDiscipline_Discipline]
GO
ALTER TABLE [dbo].[SyllabusesDisciplines]  WITH CHECK ADD  CONSTRAINT [FK_SyllabusDiscipline_Syllabus] FOREIGN KEY([syllabus_id])
REFERENCES [dbo].[Syllabuses] ([syllabus_id])
GO
ALTER TABLE [dbo].[SyllabusesDisciplines] CHECK CONSTRAINT [FK_SyllabusDiscipline_Syllabus]
GO
USE [master]
GO
